/* ============================================================================
   PDF Invoice Styles
   ============================================================================ */

body {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
}

.container {
    width: 892px;
    margin: 0 auto;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 50%;
}

.header .dates {
    width: 50%;
    text-align: right;
}

.invoice-number {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.address {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.recipient {
    width: 50%;
}

.account-details {
    width: 50%;
    text-align: right;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 5px;
    text-align: left;
}

table th {
    border-top: 1px solid black;
    color: #ffffff;
    font-weight: normal;
}

table tbody {
    border-bottom: 2px solid black;
}

.total {
    margin-top: 30px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.footer {
    margin-top: 30px;
    font-size: 10px;
    color: #808080;
}

p {
    margin: 3px 0;
}

/* Invoice specific styles */
.invoice-header {
    margin-bottom: 20px;
}

.invoice-header-left {
    float: left;
    width: 50%;
}

.invoice-header-right {
    float: right;
    width: 50%;
    padding-top: 50px;
}

.invoice-header-clear {
    clear: both;
}

.invoice-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.invoice-dates-left {
    float: left;
    width: 35%;
}

.invoice-dates-right {
    float: right;
    width: 65%;
}

.invoice-bill-to {
    color: #808080;
}

.invoice-bill-to-name {
    font-size: 14px;
    font-weight: bold;
}

.invoice-payment-section {
    float: right;
    width: 50%;
    font-weight: bold;
}

.invoice-payment-title {
    color: #808080;
}

.invoice-payment-left {
    float: left;
    width: 35%;
}

.invoice-payment-right {
    float: right;
    width: 65%;
}

.invoice-payment-spacer {
    height: 70px;
}

.invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.invoice-table th {
    text-align: left;
    padding: 5px;
}

.invoice-table th.text-right {
    text-align: right;
}

.invoice-table td {
    padding: 5px;
}

.invoice-table td.text-right,
.invoice-table .text-right {
    text-align: right;
}

.invoice-table tfoot td {
    padding: 5px;
}

.invoice-table tfoot td.border-bottom {
    border-bottom: 1px solid black;
}

.invoice-table tfoot tr.total-row {
    font-size: 16px;
    font-weight: bold;
}

.invoice-footer {
    color: #808080;
    border-top: 1px solid #808080;
    bottom: 40px;
    position: absolute;
    width: 100%;
}

.invoice-footer-left {
    float: left;
    width: 50%;
}

.invoice-footer-right {
    float: right;
    text-align: right;
    width: 50%;
}

.invoice-text-center {
    text-align: center;
}

.invoice-text-center p {
    margin: 5px 0;
}

.invoice-text-center p.margin-bottom {
    margin-bottom: 15px;
}

